pipeline/IncrementalCopy.json
{
	"name": "IncrementalCopy",
	"properties": {
		"activities": [
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ChangeTrackingDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CDC_SQL_SourceTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [cdc].[Products].[ProductID],[ProductName], CT.SYS_CHANGE_VERSION, CT.SYS_CHANGE_OPERATION from [cdc].[Products] RIGHT OUTER JOIN CHANGETABLE(CHANGES [cdc].[Products], @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) as CT on [cdc].[Products].ProductID = CT.ProductID where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CDC_SQL_SourceTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CDC_SQL_TargetTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProceduretoUpdateChangeTrackingActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_ChangeTracking_Version]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure SQL Database Canada",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Demo/CDC"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T20:44:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}