pipeline/PBIRefresh.json
{
	"name": "PBIRefresh",
	"properties": {
		"activities": [
			{
				"name": "GetAADToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TenantID,'/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=',pipeline().parameters.ClientID,'&client_secret=',pipeline().parameters.Secret)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Refresh Power BI Dataset",
				"description": "Call Power BI in \"franmerdemo.onmicrosoft.com\" tenant",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAADToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.PBIWorkspaceID,'/datasets/',pipeline().parameters.PBIDatasetID,'/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(string(activity('GetAADToken').output.token_type),' ',string(activity('GetAADToken').output.access_token))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\"Hello\":\"World\"}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "string",
				"defaultValue": "58671fbc-d556-4533-ae8a-98f7841035ea"
			},
			"ClientID": {
				"type": "string",
				"defaultValue": "7734ba54-2c29-43f7-bcf1-5d55dcedba44"
			},
			"Secret": {
				"type": "string",
				"defaultValue": ".1rkV1b15p-lWj8kF0let-I_Ex7XNUBanl"
			},
			"PBIWorkspaceID": {
				"type": "string",
				"defaultValue": "985c4639-fd25-40bb-8261-b0066a4a6439"
			},
			"PBIDatasetID": {
				"type": "string",
				"defaultValue": "a6ff9567-0a62-4a36-8148-873fbac89b19"
			}
		},
		"folder": {
			"name": "Demo/PBI Conditionnal Refresh"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-26T16:18:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}